{% extends 'login/login_base.html' %}

{% block content %}
<div class="home">
	<h2>My Vacations</h2>

{% if user.is_authenticated %}
	<p>Hi {{ user.full_name }}, Welcome to My Vacations!</p>
	<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
	<p>You are not logged in!</p>
	<a href="{% url 'login' %}">Log In</a> / 
	<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
</div>
{% endblock %}
