{% extends 'login/login_base.html' %}

{% block content %}
<div class="home">
	<h2>My Vacations Login</h2>

	<a href="{% url 'home' %}">Home</a> /
	<a href="{% url 'signup' %}">Sign up</a>

	<h2>Login</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>

{% endblock %}