{% extends 'login/login_base.html' %}

{% block content %}
<div class="home">
	<h2>My Vacations Sign up</h2>

	<a href="{% url 'home' %}">Home</a> /
	<a href="{% url 'login' %}">Login</a>

	<h2>Sign up</h2>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
		<div>
			{{ field.label_tag }}<br />
			{{ field }}
			{% if field.help_text %}
			<small style="color: green">{{ field.help_text }}</small>
			{% endif %}
			{% for error in field.errors %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Sign up</button>
	</form>
</div>

{% endblock %}