.wrapper{
    width: 80%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.title-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.add-vacation{
    width: 50%;
    padding-top: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}