{% extends 'vacations/base.html' %}
{% load static %}


{% block content %}
<div class="wrapper">
    <div class="logout">
        <a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
    </div>
    <div class="title-header">
        <h2>My vacations</h2>
        <a href="/vacations_forms"><button type="button" class="btn btn-primary">Add vacation</button></a>
    </div>
    <script type="text/javascript">
        var ex = {
            "data": [
                { "id": 1, "description": "khaled", "startDate": "2022-01-20", "endDate": "2022-01-28", "duration": 8, "creator_id": 5 },
                { "id": 1, "description": "khaled", "startDate": "2022-01-20", "endDate": "2022-01-28", "duration": 8, "creator_id": 5 }
            ]
        }
        $(document).ready(function () {
            var dataSet = '{{ data|safe }}';
            var jsonDataSet = JSON.parse(dataSet);
            if (dataSet != null) {
                $('#example').DataTable({
                    data: jsonDataSet.data,
                    "columns": [
                        { "data": "id" },
                        { "data": "description" },
                        { "data": "startDate" },
                        { "data": "endDate" },
                        { "data": "duration" },
                        { "data": "creator_id" }
                    ],

                });
            }
        });
    </script>
    <table id="example" class="display" width="100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Dexcription</th>
                <th>Start date</th>
                <th>End sate</th>
                <th>Duration</th>
                <th>creator_id</th>
            </tr>
        </thead>

    </table>

</div>
</div>

{% endblock %}