{% extends 'vacations/base.html' %}


{% block content %}
<div class="add-vacation">
    <h2>Create a new vacation</h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}